
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="/admin-panel">Accueil</a></li> -->
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Rapports d'abus</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div  class="dataTables_filter">
                 
                  <!-- <input type="text" id="user_name" class="form-control " placeholder="Nom de l'utilisateur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;"/>
                  <input type="text" id="teacher_name" class="form-control " placeholder="Nom du fournisseur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;"/> -->
                  <input type="text" id="title"class="form-control " placeholder="Entrez la raison" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px">
                  <!-- <input type="text" id="catagory" class="form-control " placeholder="Entrez le catégorie" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px"> -->
                 
                  <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;height:35px">
               
                </div>
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fournisseur</th>
                    <th>Utilisateur</th>
                    <th>Type d'utilisateur rapporté</th>
                    <th>Raison</th>
                    
                    <th>Créé à</th>
                   
                   <!-- <th>Actions</th> -->
                  </tr>
                  </thead>
                  <tbody>
                 <% reports?.forEach((element,index) => { %>
                  <tr>
                    <td><%= index+1 %></td>
                    <% if(element.whoisreported_type=="provider"){%>
                    <td><%= element.whoisreported_Name %> </td>
                    <% }else if(element.whoisreported_type=="user"){%>
                      <td><%= element.reportedby_Name %> </td>
                      <% }else{%>
                        <td>-</td>
                        <%}%>
                      <% if(element.whoisreported_type=="user"){%>
                        <td><%= element.whoisreported_Name %> </td>
                        <% }else if(element.whoisreported_type=="provider"){%>
                          <td><%= element.reportedby_Name %> </td>
                          <% }else{%>
                            <td>-</td>
                            <%}%>
                    <!-- <td><%= element.reportedbyName %> </td> -->
                    <td><%= element.whoisreported_type=="user"?"Utilisateur":"Fournisseur" %> </td>
                    <td><%= element.reason %></td>
                   
                   
                    <td><%= element.createdAt && moment(new Date(element.createdAt).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(element.createdAt).toISOString().split("T")[0]).format("DD.MM.YYYY"):"" %></td>
                   
                    <!-- <td>
                      <button onclick='handledeactivate("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Résolvez</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button>
                  <button onclick='handleactivate("<%= element._id %>")' class="btn btn-success" style="width:60px;font-size: smaller;padding: 0%;">Non résolu</button>
                </td> -->
                  </tr>
                  <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
  
         
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>
 
  function handledelete(id){
      var r = confirm("Vous êtes sûr de vouloir supprimer cet Enseignant?");
      const requestOptions = {
            method: 'get',

        };
        let url='/api/admin/deleterep/'+id;
      if (r == true) {
        fetch(url,requestOptions).then(function(response){
          toastr.success("Enseignant supprimé avec succès");
          window.location.reload();
        });
      } else {
       
      }
    }
    function handleactivate(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/api/admin/markAsUnresolved/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Enseignant activé avec succès");
       
        window.location.reload();
      });
    }
    function handledeactivate(id){
        const requestOptions = {
            method: 'get',

        };
      let url='/api/admin/markAsresolved/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Marqué comme résolu");
        window.location.reload();
      });
    }
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/editcourseonline/'+id;
      
      window.location.href = url;
    }
    function handlefilter(){
    var teacher_name = $("#teacher_name").val();
    var catagory = $("#catagory").val();
    var reason = $("#title").val();
    var user_name= $("#user_name").val();
    var url='/admin-panel/showabusereports?provider_name='+teacher_name+'&reason='+reason+'&user_name='+user_name;
    window.location.href = url;
  }
</script>

