<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | DataTables</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= base_url %>plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="<%= base_url %>plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= base_url %>dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
             
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Demande annulée </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      <th>ID</th>
                  <th>Client</th>
                  <th>Nom du service</th>
                    
                   
                   
                   <th>Date  </th>
                 
                  </tr>
                  </thead>
                  <tbody>
                    <% requests.forEach((element,index) => { %>
                      <tr>
                          <td><%= index+1 %></td>
                          <td><%= element?.service[0]?.client_name %>
                            <td><%= element?.service[0]?.catagory %>
                          </td>
                        <!-- <td><%= element?.service[0]?.service_name  %> </td> -->
                       
                        
                        <td><%= element.cancellation_date?moment(new Date(element.cancellation_date).toISOString().split("T")[0]).format("DD.MM.YYYY"):"--" %></td>
                        
                        <!-- <td><button onclick='handleaccept("<%= element._id %>")' class="btn btn-success" style="width:60px;font-size: smaller;padding: 0%;">Payez</button></td> -->
                      
                      </tr>
                      
                      <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>
 


    function handleaccept(id){
         
       
          var baseurl= "<%= base_url %>";
          var url= baseurl+"paycancledrequests/"+id;
       
          const requestOptions = {
          method: 'get'
         
      };
      fetch(url, requestOptions)
      .then(response => response.json())
      .then(data => {
          if(data.status){
              toastr.success(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"cancledrequests";
                }, 2000);
          }else{
            toastr.error(data.message);
          }
      })
          }
    function handlereject(id){
    

    var baseurl= "<%= base_url %>";
    var url= baseurl+"rejectpaymentrequest/"+id;

    const requestOptions = {
    method: 'get'
};
fetch(url, requestOptions)
.then(response => response.json())
.then(data => {
    if(data.status){
        toastr.success(data.message);
        setTimeout(function(){
            window.location.href = baseurl+"paymentrequests";
        }, 2000);
    }else{
    toastr.error(data.message);
    }
})
    }
</script>

