

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <!-- <h1 class="m-0">Subscription packages</h1> -->
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Créer un nouveau paquet d'abonnement</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                            
                            <div class="form-group">
                                <label for="Package">Paquet</label>
                                <input type="email" class="form-control" id="Package" placeholder="Entrer le paquet">
                            </div>
                            <div class="form-group">
                                <label for="Price">Prix</label>
                                <input type="number" class="form-control" id="Price" placeholder="Entrez le prix">
                            </div>
                            <div class="form-group">
                                <label for="Duration">Jours</label>
                                <input type="text" class="form-control" id="Duration" placeholder="Entrez la durée du paquet">
                            </div>
                            <!-- <div class="form-group">
                                <label for="Duration">Type</label>
                            <select class="form-control" id="package_type" name="package_type">
                               
                                <option value="">Sélectionnez le type de forfait</option>
                                <option value="En ligne">En ligne</option>
                                <option value="Hors ligne">Hors ligne</option>
                               
                              </select>
                            </div> -->
                            <div class="form-group">
                                <label for="Description">Description</label>
                                <textarea class="form-control" id="Description" placeholder="Entrez la description" rows="4"></textarea>
                            </div>
<!-- 
                            <div >
                                <label for="Description">Les photos multiples sont-elles autorisées ?</label>
                                <input class="form-control" id="is_multiple_photo" type="checkbox" style="margin-left: 0px;float:left" placeholder="Entrez la description" value="true"/>
                            </div>
                            <div >
                                <label for="Description">Est un paquet d'appoint ?</label>
                                <input class="form-control" id="is_booster" type="checkbox" style="margin-left: 0px;float:left" placeholder="Entrez la description" value="true"/>
                            </div> -->
                            </div>
                            
                            <!-- /.card-body -->
            
                            <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="handlesubmit()">Créer</button>
                            </div>
                        </form>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
    <script>
        $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        });
        function handlesubmit(){
            var package = document.getElementById("Package").value;
            var price = document.getElementById("Price").value;
            var duration = document.getElementById("Duration").value;
            var description = document.getElementById("Description").value;
            // var is_multiple_photo=document.getElementById('is_multiple_photo');
            // var is_multiple_photos_allowed=false;
            
            // var is_booster_let=document.getElementById('is_booster');
            // var is_booster=false;
            // if(is_booster_let.checked==true){
            //     is_booster=true;
            // }
            // var package_type = document.getElementById("package_type").value;
            var data = {
                "package": package,
                "price": price,
                "duration": duration,
                "description": description,
                // "is_multiple_photo":is_multiple_photos_allowed,
                // "is_booster":is_booster
                // "type":package_type
            };
            var baseurl="<%= base_url %>";
            var url= baseurl+"savesubscription";
            const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
            }else{
                toastr.error(data.message);
            }
        })
            }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

   