

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
           
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Editer l'avocat  </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="lawyerform" enctype='multipart/form-data'>
                            <div class="card-body">
                            <div class="form-group">
                                <label for="Package">Image de profil</label>
                               <div style="float:right">
                                <% if(lawyer.image) {%> 
                                    <img src="<%= root_url+"/static/public/"+lawyer.image %>" style="height:150px;width: 180px" />
                               
                                    <% } else {%> 
                                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F365webresources.com%2Fwp-content%2Fuploads%2F2016%2F09%2FFREE-PROFILE-AVATARS.png&f=1&nofb=1" style="height:150px;width: 180px;" />
                                        <% } %> 
                                    </br></br> 
                               </div> 
                                <!-- <input type="file" lang="fr" multiple class="form-control" id="lawyer_photo" placeholder="Enter Package" oninvalid="this.setCustomValidity(`'ce fiels est requis ou n'est pas valide'`)"  value="files" > -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Télécharger</span>
                                    </div>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="photo">
                                      <label class="custom-file-label" for="inputGroupFile01">Choisir le fichier</label>
                                    </div>
                                  </div>
                                <input type="hidden" class="form-control" id="elementid"  value=<%= lawyer._id %>>

                            </div>
                            <div class="form-group">
                                <label for="Package">Enseignant</label>
                                <input type="text" class="form-control" id="teacher_name" placeholder="Enter Package" value=<%= lawyer.teacher_name %>>
                               
                            </div>
                            <div class="form-group">
                                <label for="Price">Titre du cours</label>
                                <input type="text" class="form-control" id="title" placeholder="Enter Price" value=<%= lawyer.title %>>
                            </div>
                            <div class="form-group">
                                <label for="Duration">La/les catégorie(s)</label>catagories
                                <select class="form-control" id="catagory"  >
                                    <option value="" disabled selected hidden><%= lawyer.catagory %></option>
                                    <% catagories.map((catagory)=>{ %>
                                        <option value="<%= catagory.catagory%>" ><%= catagory.catagory%></option>
                                    <%    })  %>
                                </select>
                            </div>
                          
                           
                            <div class="form-group">
                                <label for="Description">Prix</label>
                                <input type="text" class="form-control" id="price" placeholder="Enter Package Description" value=<%= lawyer.price %>>
                            </div>
                            <div class="form-group">
                           
                                <label for="Duration">Statut</label>
                                <select class="form-control" id="status"  >
                                    <option value="" disabled selected hidden><%= lawyer.is_active==true ? "Actif" : "Désactivé" %></option>
                                    <option value="1" >Actif</option>
                                    <option value="0">Désactivé</option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label for="Price">Date d'enregistrement</label>
                                <input type="date" class="form-control" id="lawyer_date_of_registration" placeholder="Enter Price" value=<%= lawyer.date_of_registration %>>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="Duration">Statut</label>
                                <input type="text" class="form-control" id="status" placeholder="Enter Package Duration" value=<%= lawyer.status %>>
                            </div> -->
                            <div class="form-group">
                                <label for="Description">Type</label>
                                <select class="form-control" id="type"  >
                                    <option value="" disabled selected hidden><%= lawyer.type=="online" ? "En ligne" : "Hors ligne" %></option>
                                    <option value="online" >En ligne</option>
                                    <option value="offline" >Hors ligne</option>
                                </select>
                                
                            </div>
                            <!-- <div class="form-group">
                                <label for="Package">Langue parlée</label>
                                <input type="text" class="form-control" id="lawyer_language_spoken" placeholder="Enter Package" value=<%= lawyer.language_spoken %>>
                                
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="Price">Heures d'ouverture</label>
                                <input type="text" class="form-control" id="openinghours" placeholder="Enter Price" value=<%= lawyer.opening_hours%>>
                            </div> -->
                            <div class="form-group">
                                <label for="Duration">Description</label>
                                <input type="text" class="form-control" id="desc" placeholder="Enter Package Duration" value=<%= lawyer.desc %>>
                            </div>
                          
                           
                          
                            <!-- <div class="form-group">
                                <label for="Duration">Certificats</label>
                                <input type="file" multiple class="form-control" id="certificates" placeholder="Enter Package Duration" value=<%= lawyer.email %>>
                            </div>
                            <div class="form-group">
                                <label for="Duration">Identification – Recto / Verso</label>
                                <input type="file" multiple class="form-control" id="identifications" placeholder="Enter Package Duration" value=<%= lawyer.email %>>
                            </div> -->
                          
                         
                            
                            <!-- /.card-body -->
            
                            <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="handlesubmit()"> Mise à jour </button>
                            </div>
                        </form>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
        <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uyZ6P0gyfKIlKKkXCKocCSee-ZFHPvQ&libraries=places&callback=setAutocomplete"
      ></script>
     
  <script>
      function setAutocomplete() {
        let address1Field = document.getElementById("lawyer_address1");
 let  address2Field = document.getElementById("lawyer_address2");
  autocomplete1 = new google.maps.places.Autocomplete(
  (
     
        address1Field
       
      ),
      { types: ["geocode"],
      componentRestrictions: { country: ['fr'] },
    }
  );
  autocomplete1.addListener("place_changed", setAddress1);
  
  autocomplete2 = new google.maps.places.Autocomplete(
  (
     
       
        address2Field
      ),
      { types: ["geocode"],
      componentRestrictions: { country: ['fr'] },
    }
  );
  autocomplete2.addListener("place_changed", setAddress2);
  
  strictBoundsInputElement.checked = biasInputElement.checked;
  }
  function setAddress1() {
  var place = autocomplete1.getPlace();
  }
  function setAddress2() {
  var place = autocomplete2.getPlace();
  }
  </script>
    <script>
       
      
      



          function handlesubmit(){
           
            var formData = new FormData();
            var teacher_name=document.getElementById("teacher_name").value;
            var title=document.getElementById("title").value;
            var catagory=document.getElementById("catagory").value;
            var price=document.getElementById("price").value;
            var type=document.getElementById("type").value;
            var status=document.getElementById("status").value;
            var elementid=document.getElementById("elementid").value;
            var desc=document.getElementById("desc").value;
          
            formData.append("teacher_name", teacher_name);
            formData.append("title", title);
            formData.append("catagory", catagory);
            formData.append("desc", desc);
            formData.append("price", price);
            formData.append("type", type);
            formData.append("status", status);
            
            
            
           
            formData.append("id", elementid);
           
            const photo=document.getElementById("photo");
            let newphoto="";
         if(photo){
             newphoto=photo?.files[0];
         }
            formData.append("image", newphoto);
            
           
            
            // var data = {
            //     "lawyer_first_name": lawyer_first_name,
            //     "lawyer_last_name": lawyer_last_name,
            //     "lawyer_email": lawyer_email,
            //     "lawyer_phone": lawyer_phone,
            //     "lawyer_date_of_registration": lawyer_date_of_registration,
            //     "status": status,
            //     "lawyer_expertise_in": lawyer_expertise_in,
            //     "lawyer_language_spoken": lawyer_language_spoken,
            //     "status": status,
            //     "lawyer_presentation": lawyer_presentation,
            //     "lawyer_experience": lawyer_experience,
            //     "lawyer_legal_information": lawyer_legal_information,
            //     "elementid": elementid,
            //     "opening_hours": openinghours,
            //     "onlineprice": onlinetarrif,
            //     "offlineprice": offlinetarrif
            // };
            var baseurl= "<%= base_url %>";
            var url= baseurl+"updatecourseonline";
           
            const requestOptions = {
            method: 'POST',
           
            body: formData
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                window.location.href = baseurl+"allcourses";
            }else{
                toastr.error(data.message);
            }
        })
            }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
    </div>
    <!-- ./wrapper -->

    