

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
         
          <!-- /.row -->
          <!-- Main row -->
        
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
        <div class="container-fluid">
  
  
  
  
   
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Emplois appliqués</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div  class="dataTables_filter">
                    <input type="text" id="student_name" class="form-control " placeholder="Entrez le nom de l'utilisateur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <!-- <input type="text" id="teacher_name"class="form-control " placeholder="Indiquez le nom du fournisseur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;"> -->
                    <!-- <input type="text" id="mode_of_payment"class="form-control " placeholder="Mode de paiement" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;"> -->
                   
                    <!-- <select id="status"class="form-control " placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;margin-bottom: 3px;">
                      <option value="">Tous les statuts</option>
                      <option value="true">complété</option>
                      <option value="false">en attente de</option>
                    </select> -->
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="start_date" class="form-control " placeholder="date d'entrée en vigueur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="end_date" class="form-control " placeholder="date de fin" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  </div>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>

                      <th>ID de la demande </th>
                      <th>Utilisateur</th>
                      <th>Nom du service</th>
                      <th>Date et heure  </th>

                   
                    </tr>
                    </thead>
                    <tbody>
                   <% scheduledservices.forEach((element,index) => { %>
                    <tr>
                     
                      <td><%= index+1 %></td>
                      <td><%= element.client_name %> </td>
                      <td><%= element.catagory %> </td>
                      <td><%= element.date_availed&&moment(new Date(element.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(element.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY"):""  %></td>
                      
                      <!-- <td><button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Voir</button></td> -->
                    </tr>
                    <% }); %>
                    </tbody>
                  
                  
                  
                   
                  
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
           
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
  
  
  <script>
    
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/viewserviceschedule/'+id;
      
      window.location.href = url;
    }

    function handlefilter(){
    var student_name = $("#student_name").val();
    
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
   
    var url = "<%=base_url%>joblist?client_name="+student_name+"&start_date="+start_date+"&end_date="+end_date;
    window.location.href = url;
  }
  </script>
  
  
        </div>
      
      </section>
   
    <!-- /.content -->
  </div>
  
</div>
<!-- ./wrapper -->

