

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
               
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card ">
                        <div class="card-header">
                          <div class="card-tools">
                            <ul class="nav nav-pills ml-auto">
                              <li class="nav-item">
                                <a class="btn btn-primary" href="/admin-panel/addcatagoryonline" >Créer un nouveau coupon</a>
                              </li>
                           
                            </ul>
                          </div>
                            <h3 class="card-title">Toutes les pages</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                        
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                             <th>Nom de la page</th>
                           <!-- <th>Image de la bannière</th>
                           <th>Image miniature</th> -->
                             <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="miscdata">
                                <% cat.forEach(element => { %>
                                    <tr>
                                      <% if(element.mastercatagory){ %>
                                      <td>-<%= element.title %> </td>
                                      <% }else{%>
                                        <td><%= element.title %> </td>
                                      <%}%>
                                      <!-- <td><img style="width:100px;height:80px" src="<%= root_url+'/static/public/'+element.bannerimage %>" /></td>
                                      <td><img style="width:100px;height:80px" src="<%= root_url+'/static/public/'+element.thumbimage %>" /></td> -->
                                      <td>
                                        <button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Voir</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button>
                                   
                                  </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                          
                          
                          
                           
                          
                          </table>
                        </div>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
        <script>
         function handlefilter(){
      var client_name=$('#search').val();
     
      var url = "<%=base_url%>managecatagoryonline?search="+client_name;
        window.location.href = url;
    }
           function handledelete(id){
               var r = confirm("Êtes-vous sûr de vouloir supprimer cette catégorie ?");
               const requestOptions = {
                     method: 'get',
         
                 };
                 var baseurl= "<%= base_url %>";
                 var url= baseurl+"deletecatagoryonline/"+id;
                //  let url='/admin-panel/deletecatagoryonline/'+id;
               if (r == true) {
                 fetch(url,requestOptions)
                 .then(res=>res.json())
                 .then(function(response){
                  console.log(response)
                   alert(response.message);
                   window.location.reload();
                 });
               } else {
                 window.location.href = "/admin-panel/managecatagoryonline";
               }
             }
             
             function handleview(id){
              
               
               const requestOptions = {
                     method: 'get',
         
                 };
               let url='/admin-panel/editcatagoryonline/'+id;
               
               window.location.href = url;
             }
           
         </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
    </div>
    <!-- ./wrapper -->
  
    <!-- jQuery -->
