

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
           
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
           
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Demande retirée</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                   <div  class="dataTables_filter">
                   
                    <input type="text" id="lawyer_name"class="form-control " placeholder="Nom de prestataire" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                     <input type="text" id="email"class="form-control " placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  
                   
                     <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                </div>
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      <th>ID</th>
                    <th>Nom du prestataire</th>
                    <th>Email</th>
                    <th>Montant demandé</th>
                    <th>Statut</th>
                    <th>Date et heure demandées</th>
                    <th>Nom de la banque</th>
                    <th>Titulaire du compte </th>
                    <th>IBAN</th>
                    <th>BIC</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                 <% portfoliohistory.forEach((element,index) => { %>
                  <tr>
                      <td><%= index+1 %></td>
                    <td><%= element.provider_name %></td>
                    <td><%= element.email %> </td>
                    <td><%= element.request_amount %></td>
                   
                    <td> <%= element.payment_status?"Payé":"En attente"%></td>
                   <td> <%=moment(element.request_date).format("DD.MM.YYYY")%></td>
                   <td><%= element?.bank?.bank_name %></td>
                   <td><%= element?.bank?.account_name %></td>
                   <td><%= element?.bank?.iban %></td>
                   <td><%= element?.bank?.bic %></td>
                   <td> <button onclick='handleaccept("<%= element._id %>")' class="btn btn-success" style="width:60px;font-size: smaller;padding: 0%;">Accepter</button><button onclick='handlereject("<%= element._id %>")' class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Rejeter</button></td>
                  </tr>
                  <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>
   function handleaccept(id){
         
       
         var baseurl= "<%= base_url %>";
         var url= baseurl+"acceptpaymentrequest/"+id;
      
         const requestOptions = {
         method: 'get'
        
     };
     fetch(url, requestOptions)
     .then(response => response.json())
     .then(data => {
         if(data.status){
             toastr.success(data.message);
               setTimeout(function(){
                   window.location.href = baseurl+"paymentrequests";
               }, 2000);
         }else{
           toastr.error(data.message);
         }
     })
         }
   function handlereject(id){
   

   var baseurl= "<%= base_url %>";
   var url= baseurl+"rejectpaymentrequest/"+id;

   const requestOptions = {
   method: 'get'
};
fetch(url, requestOptions)
.then(response => response.json())
.then(data => {
   if(data.status){
       toastr.success(data.message);
       setTimeout(function(){
           window.location.href = baseurl+"paymentrequests";
       }, 2000);
   }else{
   toastr.error(data.message);
   }
})
   }

  function rechargehistory(id){
    var id=id;
    
    // var url= baseurl+"rechargehistory/"+id;
    
    // const requestOptions = {
    // method: 'GET'
    // };
    //     fetch(url, requestOptions)
    //     .then(response => response.json())
    //     .then(data => {
    //         if(data.status){
    //           toastr.success(data.message);
    //           window.location.href = baseurl+"rechargehistory/"+id;
    //         }else{
    //           toastr.error(data.message);
    //         }
    //     })
    let url='/admin-panel/viewrechargehistory/'+id;
      
      window.location.href = url;
   
  }
    function flowhistory(id){
        window.location.href = "<%= base_url %>viewflowhistoryind/"+id;
    }

      function handlefilter(){
  
  var lawyer_name = $("#lawyer_name").val();
  var email=$("#email").val();


  var url = "<%=base_url%>portfoliohistory?provider_name="+lawyer_name+"&email="+email;
  window.location.href = url;
}
</script>
