

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Paramètres du site</h1>
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Paramètres du site</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Commissions:</label>
                                    <input type="text"   class="form-control" id="Commissions" value="<%=siteparameters.commissions%>">
                                   
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Taxe:</label>
                                    <input type="text"   class="form-control" id="tax" value="<%=siteparameters.tax%>">
                                   
                                </div>
                           
                            <div class="form-group">
                                <label for="exampleInputEmail1">Courriel de connexion de l'administrateur :</label>
                                <input type="text"   class="form-control" id="email" >
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Réinitialiser le mot de passe :</label>
                                <!-- <input type="text"   class="form-control" id="resetpassword" value=""> -->
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mot de passe actuel</label>
                                <input type="text"   class="form-control" id="currentpassword" >
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nouveau mot de passe</label>
                                <input type="text"   class="form-control" id="newpassword" >
                               
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Confirmer le mot de passe</label>
                                <input type="text"   class="form-control" id="confirmpassword" ">
                               
                            </div>
                            </div>
                            <!-- /.card-body -->
            
                            <div class="card-footer">
                            <button type="button" onclick="handlesubmit('paypal')"   class="btn btn-primary">Mise à jour</button>
                            </div>
                        </form>
                        </div>
                       
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
    <script>
        $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        });
        function handlesubmit(paymentprovider){
          var commissions = $('#Commissions').val();
          var tax = $('#tax').val();
            var email = $('#email').val();
            var currentpassword = $('#currentpassword').val();
            var newpassword = $('#newpassword').val();
            var confirmpassword = $('#confirmpassword').val();

          
            var data = {
                'commissions': commissions,
                'tax': tax,
                'email': email,
                'currentpassword': currentpassword,
                'newpassword': newpassword,
                'confirmpassword': confirmpassword,
            };
            var baseurl= "<%= base_url %>";
            var url= baseurl+"savesiteparameters";
           
            const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                window.location.reload();
            }else{
                toastr.error(data.message);
            }
        })
            }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
   
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

   