<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="icon" href="/images/fav icon 120.png" type="image/png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style type="text/css">

        .stikc-form{
            touch-action: manipulation;
        }
        :root {
          touch-action: pan-x pan-y;
          height: 100% 
        }
        .panel-title {
        display: inline;
        font-weight: bold;
        }
        .display-table {
            display: table;
        }
        .display-tr {
            display: table-row;
        }
        .display-td {
            display: table-cell;
            vertical-align: middle;
            width: 61%;
        }
        .fix-box {
            position: relative;
            overflow-y: auto;
        }
        .stikc-form{
            max-width: 500px;
            margin: 0 auto;
        }
        .error{
            color: #a94442;
        }
        .card-expiry-month, .card-expiry-year {
            width: 100%;
            border-color: #ccc;
            height: 35px;
            border-radius: 3px;
            padding: 0 5px;
            background: transparent;
        }
        .loader_div{
            position: absolute;
            top: 0;
            bottom: 0%;
            left: 0;
            right: 0%;
            z-index: 99;
            opacity:0.7;
            display:none;
            
            background: lightgrey url('https://www.administrateur.slegal.ai/static/public/loader') center center no-repeat;
            }
    </style>

</head>
<body>
   
<div class="container">
  
    <h1></h1>
  
    <div class="row">
        <div class="stikc-form">
            <div class="fix-box">
                <div id="loader_div" class="loader_div"></div>
            <div class="text-center"><b>Coudmoi</b></div>
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Effectuer un achat de service</h3>
                        <div class="display-td" >                            
                            <img class="img-responsive pull-right" src="">
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                   
                    
                    
                    <form role="form" action="<%= url %>" method="post" class="require-validation"
                                                     data-cc-on-file="false"
                                                     data-locale="fr"
                                                    data-stripe-publishable-key="<%= key %>"
                                                    id="payment-form">
                             
                        <div class='form-row row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label'>Courriel</label> 
                                <input class='form-control email' type='email' name="email">
                               
                                <div class="error" id="email_error" style="display: none;">Veuillez saisir une adresse électronique valide</div>
                            </div>
                        </div>
                        <div class='form-row row'>
                            <div class='col-xs-12 form-group required'>
                                <label class='control-label'>Nom sur la carte</label> <input
                                    class='form-control card_name' size='4' type='text'>
                                    <div class="error" id="card_name_error" style="display: none;">Veuillez saisir uniquement le texte</div>
                            </div>
                        </div>
  
                        <div class='form-row row'>
                            <div class='col-xs-12 form-group card required'>
                                <label class='control-label'>Numéro de la carte</label> <input
                                    autocomplete='off' class='form-control card-number'
                                    type='number' onKeyPress="if(this.value.length==16) return false;"  >

                            </div>
                        </div>
  
                        <div class='form-row row'>
                            <div class='col-xs-12 col-md-4 form-group cvc required'>
                                <label class='control-label'>CVV</label> <input autocomplete='off'
                                    class='form-control card-cvc' placeholder='ex. 311' size='4'
                                    type='number' onKeyPress="if(this.value.length==3) return false;">
                            </div>
                            <div class='col-xs-12 col-md-4 form-group expiration required'>
                                <label class='control-label'>Mois</label>
                                <select class="card-expiry-month w-100">
                                    <option value="01">Janvier</option>
                                    <option value="02">Février</option>
                                    <option value="03">Mars</option>
                                    <option value="04">Avril</option>
                                    <option value="05">Mai</option>
                                    <option value="06">Juin</option>
                                    <option value="07">Juillet</option>
                                    <option value="08">Août</option>
                                    <option value="09">Septembre</option>
                                    <option value="10">Octobre</option>
                                    <option value="11">Novembre</option>
                                    <option value="12">Décembre</option>
                                </select>    
                            </div>
                            

                            <div class='col-xs-12 col-md-4 form-group expiration required'>
                                <label class='control-label'>Année d'expiration</label>
                                    <select class='card-expiry-year'>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>    
                                    </select>
                            </div>
                        </div>
  
                        <div class='form-row row'>
                            <div class='col-md-12 error form-group hide'>
                                <div class='alert-danger alert'></div>
                            </div>
                        </div>
                        <input type="hidden" name="od" value="{{ $data['od'] }}">
                        <input type="hidden" name="amount" value="<%= amount %>">
                        <input type="hidden" name="id" value="<%= user_id %>">
                        

                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Payez <%= amount %> € </button>
                            </div>
                        </div>
                          
                    </form>
                    <div class="clearfix"></div><br>
                    
                    
                </div>
            </div>        
        </div>
        </div>
    </div>
      
</div>
  
</body> 

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  
<script type="text/javascript">
 

$(function() {

    

    var $form         = $(".require-validation");
  $('form.require-validation').bind('submit', function(e) {
    var $form         = $(".require-validation"),
        inputSelector = ['input[type=email]', 'input[type=password]',
                         'input[type=text]', 'input[type=file]',
                         'textarea'].join(', '),
        $inputs       = $form.find('.required').find(inputSelector),
        $errorMessage = $form.find('div.error'),
        valid         = true;
        $errorMessage.addClass('hide');
 
        $('.has-error').removeClass('has-error');
    $inputs.each(function(i, el) {
      var $input = $(el);
      if ($input.val() === '') {
        $input.parent().addClass('has-error');
        $errorMessage.removeClass('hide');
        e.preventDefault();
      }
    });
  
    if (!$form.data('cc-on-file')) {
      e.preventDefault();
      Stripe.setPublishableKey($form.data('stripe-publishable-key'));
      Stripe.createToken({
        number: $('.card-number').val(),
        cvc: $('.card-cvc').val(),
        exp_month: $('.card-expiry-month').val(),
        exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);
    }
  
  });
  
  function stripeResponseHandler(status, response)
  {
   


     /*alert(status);
    alert(response);
    console.log(status);
    console.log(response);
    return false;*/
        if (response.error) {
            $('.error')
                .removeClass('hide')
                .find('.alert')
                .text(response.error.message);
        } else {
            // token contains id, last4, and card type
            var token = response['id'];
           
            // insert the token into the form so it gets submitted to the server
            $form.find('input[type=text]').empty();
           
            $form.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");

            $form.get(0).submit();
            $(".loader_div").show();
        }
    }
  
});


$(".email").keyup(function(){
  var email = $(this).val();
    //alert(email);
    var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    if ($(this).val() == '' || !re.test($(this).val()))
    {
        $("#email_error").show();
    }
    else
    {
        $("#email_error").hide();
    }


});
$(".card_name").keyup(function(){
    //alert(email);
    var re = /^[a-zA-Z\s]+$/;
    if ($(this).val() == '' || !re.test($(this).val()))
    {
        $("#card_name_error").show();
    }
    else
    {
        $("#card_name_error").hide();
    }


});


</script>
</html>   