<!DOCTYPE html>
<html>
<head>
<title>Slegal</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: sans-serif;font-size: 12px;">
<div style="max-width:500px;margin:auto;padding-top:50px;">
<div style="text-align:center;padding-bottom:20px;"><img src="logo.png" width="200" style="max-width:100%;"></div>
<div style="border: 1px dashed #ddd;padding: 30px;">
<div style="text-align:center;"> 
<h1>RECEIPT</h1>
<p>Coudmoi</p>
</div>
<div>
 <p>Merci d'avoir utilisé Coudmoi</p>
 <p>Vous y trouverez le reçu de votre abonnement.</p>

</div>
<div>
<h3>Résumé</h3>
<ul style="padding-left:0;">
<li style="list-style-type:none;padding-bottom:8px;"><strong>Nom du paquet</strong> <span style="float:right;"><%= invoice.name_of_package %></span></li>
<li style="list-style-type:none;padding-bottom:8px;"><strong>Montant</strong> <span style="float:right;">€ <%= invoice.payment_amount %></span></li>
<li style="list-style-type:none;padding-bottom:8px;"><strong>Date de la transaction</strong> <span style="float:right;"><%= invoice.frenchdate %></span></li>
<li style="list-style-type:none;padding-bottom:8px;"><strong>ID de la transaction</strong> <span style="float:right;"><%= invoice.transaction_id %></span></li>
</ul>
</div>

<div>
<h3>Informations sur le paiement</h3>
<ul style="padding-left:0;">
<% if(invoice.cardNum!=""){%>
  <li style="list-style-type:none;padding-bottom:8px;"><strong>Type de carte</strong> <span style="float:right;"><%= invoice.cardType %></span></li>
  <li style="list-style-type:none;padding-bottom:8px;"><strong>Cartes de crédit Se termine par </strong> <span style="float:right;"><%= invoice.cardNum %></span></li>
  <% }else if(invoice.mode_of_payment){ %>
    <li style="list-style-type:none;padding-bottom:8px;"><strong>Carte bancaire</strong> <span style="float:right;"><%= invoice.mode_of_payment %></span></li>
   
    <% }else{ %>

      <% } %>
</ul>
</div>
</div>
</div>
</body>
</html>
