

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Abonnements</h1>
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"></h3>
                      <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                          <li class="nav-item">
                            <a class="nav-link active" href="/admin-panel/createnewsubpackage" >Créer un nouveau paquet d'abonnement</a>
                          </li>
                       
                        </ul>
                      </div>
                    </div>
                   
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example01" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                          <th>Paquet</th>
                          <th>Prix</th>
                          <th>Jours </th>
                        
                         <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                       <% subscriptionpackages.forEach((element,index) => { %>
                        <tr>
                         
                        <td><%= index+1 %> </td>
                          <td><%= element.package %> </td>
                          <td><%= element.price %> </td>
                          <td><%= element.duration %></td>
                       
                         
                        <td> <button onclick='handleview2("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Modifier</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button></td>
                          <!-- <td><a href="/admin-panel/viewsubpackage/<%= element._id %>"> View</a>|<a href="/admin-panel/deletesubpackage/<%= element._id %>">Delete</a>|<a href="/admin-panel/editsubscriptionpackage/<%= element._id %>"
                            data-id="<%= this._id %>">Edit</a></td> -->
                        </tr>
                        <% }); %>
                       
                        </tbody>
                      
                      
                      
                       
                      
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
               
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
        <!-- /.content -->
        
    
    
    <script>
       
        function handledelete(id){
      var r = confirm("Vous êtes sûr de vouloir supprimer cet avocat?");
      const requestOptions = {
            method: 'get',

        };
        let url='/admin-panel/deletesubpackage/'+id;
      if (r == true) {
        fetch(url,requestOptions).then(function(response){
          toastr.success("Avocat supprimé avec succès");
          window.location.reload();
        });
      } else {
        window.location.href = "/admin-panel/managesubscriptionpackages";
      }
    }
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/viewsubpackage/'+id;
      
      window.location.href = url;
    }
    function handleview2(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/editsubscriptionpackage/'+id;
      
      window.location.href = url;
    }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
   
    </div>
    <!-- ./wrapper -->

   