<!DOCTYPE html>
<html>
<head>
<title>Coop Divercite</title>
</head>
<body style="font-family: sans-serif;padding-top:50px;">

<div style="max-width:700px;margin:auto;">
<div style="text-align:center;">
<img src="/static/public/logo.png">
</div>